recast-atlas==0.1.9
# local
adage==0.10.2
packtivity==0.14.24
yadage==0.20.1
yadage-schemas==0.10.7
# local viz
pydotplus==2.0.2
# kubernetes
kubernetes==9.0.0
# reana
reana-client==0.8.0
reana-commons==0.8.1
