name: Bump version

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Semver type of new version (major | minor | patch)'
        required: true

jobs:
  bump-version:
    runs-on: ubuntu-latest

    steps:
    # Use GitHub PAT to authenticate so other workflows trigger
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.ACCESS_TOKEN }}

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install Python dependencies
      run: |
        python -m pip install uv
        uv pip install --system --upgrade wheel
        uv pip install --system "bump2version~=1.0"
        uv pip list --system

    - name: Setup Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    - name: Bump version
      run: bump2version ${{ github.event.inputs.part }}

    - name: Push latest version
      run: git push origin main --follow-tags
